html {
  font-size: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(215, 201, 255);
 font-size: 1rem;
}

header {
  background-color: #001f4d;
  padding: 10px 20px;
  position: relative; /* permite posicionar o conteúdo interno */
  display: flex;
  justify-content: center; /* centraliza o logo */
  align-items: center; /* centraliza verticalmente */
}

/* Logo centralizado */
.logo {
  width: 300px;
  height:auto;
  font-size: 1rem;
}

/* Botões no canto direito */
#acessibilidade {
  position: absolute;
  right: 30px; /* distância da borda direita */
  top: 50%;
  transform: translateY(-50%); /* centraliza verticalmente */
  display: flex;
  gap: 10px;
}

#acessibilidade .btn {
  font-size: 14px;
  font-weight: bold;
}

nav {
  background-color: #0c9fb9;
  height: auto;
}
/* Color letras */
#navbarSupportedContent .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 500;
}

/* Color letras hover */
#navbarSupportedContent .navbar-nav .nav-link:hover {
  color: #0d6efd;
  font-weight: 500;
}

.main-h1{
  /* Color letras */
  color: #ffffff;
  font-weight: 500;
}

.texto-h1 {
  font-size: 50px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
  color: black; /* cor do texto */
  padding:50px;
}


#map {
  width: 100%;
  height: 100vh;
  border: 2px solid #001f4d;
  border-radius: 8px;
}

/* RODAPÉ */

footer {
  background: #001f4d;
  /* fundo azul escuro */
  color: #fff;
  /* todas as letras brancas */
  padding:50px;
}

.footer-container {
  display: flex;
  /* deixa os blocos lado a lado */
  justify-content: center;
  /* distribui igualmente */
  align-items: flex-start;
  /* todos alinhados no topo */
  gap: 300px;
  /* espaço entre blocos */
  flex-direction: row;
  /* garante que fique horizontal */
}

/* ===== BLOCO LINKS ===== */

.footer-links h5 {
  margin-bottom: 15px;
  color: #d78fea;
}

.footer-links a {
  display: flex;
  /* deixa o ícone + texto lado a lado */
  align-items: center;
  /* alinha no meio vertical */
  margin: 10px 0;
  color: #fff;
  /* texto branco */
  text-decoration: none;
}

.footer-links img {
  margin-right: 10px;
  /* distância entre ícone e texto */
  filter: brightness(0) invert(1);
  /* deixa ícone branco */
  transition: transform 0.2s ease;
  cursor: pointer;
}

.footer-links img:hover {
  transform: scale(1.1);
  /* filtro aproximado para #3ac9d3 */
  filter: brightness(0) saturate(100%) invert(83%) sepia(13%) saturate(1941%) hue-rotate(150deg) brightness(92%) contrast(94%);
}

.footer-links a:hover {
  color: #d3d3d3;
}

/* ===== BLOCO COPYRIGHT ===== */
.copy {
  text-align: center;
  /* centraliza */
}

.copy h5 {
  margin-bottom: 10px;
  /* separa agradecimento do copy */
  color: #d78fea;
}

.copy p {
  font-weight: bold;
  color: white;
  opacity: 0.8;
  /* deixa mais suave */
}

.copy .copy-marcas {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  /* espaço entre as imagens */
}

.copy .copy-marcas img {
  width: 110px;
  height: auto;
}

/* Esconde o hamburguer em telas grandes */
@media (min-width: 992px) {
  .navbar-toggler {
    display: none
  }
}

/* Faz o menu abrir bonito no mobile */
@media (max-width: 480px) {

  /* Links centralizados */
  .footer-links {
    width: 100%;
  }

  .footer-links a {
    justify-content: center;
  }

  /* Copyright responsivo */
  .copy .copy-marcas {
    justify-content: center;
  }

  .copy p {
    text-align: center;
  }
}